.single-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1vh 15%;
    padding-right: 20%;
}

.bg {
    background-image: url(../img/background.png);
    background-position: center;
}

.single-title {
    margin: 0.4vh;
    padding: 1vh 0;
    color: black;
    font-size: 1.2rem;
}

.single-desc {
    margin: 0;
    padding: 1vh 1vh;
    color: black;
    padding-left: 2vw;
    padding-bottom: 1.5vh;
    grid-area: D;
    justify-self: start;
    grid-area: T;
}

.single-img {
    border-radius: 15%;
    width: 50%;
    margin-right: 10vw;
    justify-self: end;
}

.single-btn-area {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.single-text-dark {
    padding: 0.9vh 0;
    padding-right: 1vh;
    text-decoration: underline;
    color: black;
    margin-top: auto;
    order: 2;
    grid-area: G;
    text-align: end;
}

.single-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "P P" "T G";
}

.single-seperator {
    background: #000;
    height: 2px;
    margin: 0 1vh;
    margin-bottom: 1vh;
}

.single-head {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    margin: 0.1px;
    grid-area: P;
}

.s {
    font-size: 1rem;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
}