.p {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 0.1px;
    width: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.uline {
    text-decoration: underline;
    text-decoration-color: inherit;
}

.pad {
    padding-bottom: 2.5%;
}

.T {
    grid-area: T;
}